<!-- Footer -->
<footer class="page-footer font-small blue">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 d-flex">
    <div class="flex-grow-1" style="padding-left: 200px;">
      © 2020 Copyright:
      <a href="https://www.linkedin.com/in/jeniffer-de-azevedo-6b567070/"
        >Jeniffer Azevedo</a
      >
    </div>
    <div class="ml-auto mr-5">
      Usada a api de <a href="https://www.itjobs.pt/api/docs#intro">itJobs</a>
    </div>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
